@media (min-width: 992px) {
/**********************************************************
    Pedidos
**********************************************************/
.pedidos-caja-pedido-boton-listo{
    padding: 0 !important;
    width: 25px !important;
    height: 25px !important;
    font-size: 16px !important;
    left: -5px;
}
/**********************************************************
    Fin pedidos
**********************************************************/
/**********************************************************
    Estadisticas
**********************************************************/
.flot-chart{
	width: 550px !important;
	height: 363px !important;
}
.donut-chart .legend > div,
.donut-chart table{
    right: -40px !important;
    
}
.estadisticas-tabs{
    font-size: 14px;
}
/**********************************************************
    Estadisticas
**********************************************************/
}