@media (min-width: 768px) {
/**********************************************************
    General
**********************************************************/
.flot-chart{
    width: 700px;
}
/**********************************************************
    Fin general
**********************************************************/
.contenido-pagina{
    margin-left: 260px;
    overflow: hidden;
}
/**********************************************************
    Menú principal
**********************************************************/
.menu-principal-opcion-usuario{
    border-top: 0;
}
.navbar-nav .open .dropdown-submenu > .dropdown-menu > li > a{
    padding-left: 25px;
}
/**********************************************************
    Fin menú principal
**********************************************************/
/**********************************************************
    Menú superior
**********************************************************/
.menu-superior-contenido{
    margin-left: 270px;
}
/**********************************************************
    Fin menú superior
**********************************************************/
/**********************************************************
    Menú lateral
**********************************************************/
.nav-side-menu{
	display: block;
	position: fixed;
	top: 0px;
	z-index: 9999;
}
/**********************************************************
    Fin menú lateral
**********************************************************/
/**********************************************************
    Botones
**********************************************************/
.boton-menu-mobile{
	display: none;
}
/**********************************************************
    Fin botones
**********************************************************/
}