@media (min-width: 768px) {
/**********************************************************
    General
**********************************************************/
/**********************************************************
    Fin general
**********************************************************/
.contenido-pagina{
    margin-left: 260px;
    overflow: hidden;
}
/**********************************************************
    Menú principal
**********************************************************/
.menu-principal-opcion-usuario{
    border-top: 0;
}
.navbar-nav .open .dropdown-submenu > .dropdown-menu > li > a{
    padding-left: 25px;
}
/**********************************************************
    Fin menú principal
**********************************************************/
/**********************************************************
    Menú superior
**********************************************************/
.menu-superior-contenido{
    margin-left: 270px;
}
/**********************************************************
    Fin menú superior
**********************************************************/
/**********************************************************
    Menú lateral
**********************************************************/
.nav-side-menu{
	display: block;
	position: fixed;
    width: 260px;
	top: 0px;
	z-index: 9999;
}
/**********************************************************
    Fin menú lateral
**********************************************************/
/**********************************************************
    Botones
**********************************************************/
.boton-menu-mobile{
	display: none;
}
/**********************************************************
    Fin botones
**********************************************************/
/**********************************************************
    Listado
**********************************************************/
.listado-operaciones-superiores{
    display: inline-block;
}
/**********************************************************
    Fin listado
**********************************************************/
/**********************************************************
    Publicidades
**********************************************************/
.publicidades-operaciones a{
    margin-bottom: 0;
}
.publicidad-envio{
    border-bottom: 0;
}
/**********************************************************
    Fin publicidades
**********************************************************/
/**********************************************************
    Estadisticas
**********************************************************/
.flot-chart{
    width: 260px !important;
    height: 223px !important;
}
.donut-chart .legend > div,
.donut-chart table{
    right: -100px !important;
    
}
.donut-chart .legendLabel div{
    font-size: 14px !important;
}
.estadisticas-tabs{
    font-size: 11px;
}
/**********************************************************
    Fin estadisticas
**********************************************************/
}